f0.npy
train05.jams
train05.mid
.idea/.name
.idea/audio_to_midi_melodia.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
.idea/*
__init__.pyc
audio_to_midi_melodia.pyc
